[data-density='compact'] {
    --control-gap: var(--space-1);
    --control-padding-inline: var(--space-2);
    --control-padding-block: var(--space-2);

    --space-layout-1: var(--space-2);
    --space-layout-2: var(--space-4);
    --space-layout-3: var(--space-6);
}
